<html>
<body>
<h1>Super Hangman 3.0</h1>
<div style="font-size:2em">
<%=@secret%>
<div>
<form method="POST" action="letra">
<input type="text" name="letra" value=""/>
<input type="submit" value="Probar"/>
</form>
<div style="display:<%=if @gano then 'block' else 'none' end%>">
GANASTE!
</div>
</body>
</html>
