<html>
<body>
<h1>Super Hangman 3.0</h1>
<div style="font-size:2em">
<%=@secret%>
<div>
<form method="POST" >
<input type="text" name="letra" value=""/>
<input type="submit" value="Probar"/>
</form>
</body>
</html>
